<div class="product-ctn">
    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba.webp" alt="Perfume 01">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba 2.jpg" alt="Perfume 02">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba.webp" alt="Perfume 01">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba 2.jpg" alt="Perfume 02">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba 2.jpg" alt="Perfume 02">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba 2.jpg" alt="Perfume 02">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba 2.jpg" alt="Perfume 02">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="img-ctn">
            <img class="product-img" src="assets/images/Perfume Prueba.webp" alt="Perfume 01">
        </div>
        <div class="product-detail">
            <small>Perfume 01</small>
            <p>$5000</p>
            <div class="btn-ctn">
                <button class="btn-buy">Comprar</button>
                <div class="btn-kart-ctn">
                    <button class="kart"></button>
                </div>
            </div>
        </div>
    </div>
</div>


