<form action="#" [formGroup]="formRegister">
    <div>
        <label for="name">Nombre</label>
        <input formControlName="name" type="text">
    </div>
    <div>
        <label for="">Apellido</label>
        <input formControlName="lastName" type="text">
    </div>
    <div>
        <label for="">Correo electrónico</label>
        <input formControlName="email" type="text">
    </div>
    <div>
        <label for="">Dirección</label>
        <input formControlName="email" type="text">
    </div>
    <div>
        <label for="">Código postal</label>
        <input formControlName="email" type="text">
    </div>
    <div>
        <label for="">Contraseña</label>
        <input formControlName="password" type="text">
    </div>
    <button (click)="createUser()">Registrarme</button>
</form>