.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 19%;
    height: 100%;
    background: #444;
    opacity: 0.9;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1.35rem;
}

.open-nav-btn {
    width: 30px;
    height: 33px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #444;
    border-style: none;
    border-radius: 13px;
    /* z-index: 2; */
    
    background-image: url('/assets/icons/search.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

li, li a {
    margin-top: 23px;
    list-style-type: none;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(195, 219, 241);
    text-decoration: none;
    cursor: pointer;
}

.input-container {
    background-color: #bbc54e;
    height: rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}


input {
    border: none;
    outline: none;
    background-color: #73737382;
    max-width: 8rem;
    height: 1.5rem;
    border-radius: 2rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.432);
    text-align: center;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    background-color: rgb(44, 44, 44);
}

.submenu li:first-child {
    padding-top: 23px;
}

.submenu li:last-child {
    padding-bottom: 23px;
}


@media screen and (max-width: 1000px) {
    .sidebar {
        position: relative;
        width: 100%;
    }

    .btn-container {
        background-color: #292929;
        margin-top: 0;
        height: 1rem;
    }

    .open-nav-btn {
        position: relative;
        bottom: 2rem;
        right: 5%;
        transform: translateX(-50%);
        background-color: #292929;
    }
}