
li {
    list-style: none;
}

.superior-nav button {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    width: auto;
    padding: 0 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

.superior-nav ul li button:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.menu-kart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-button {
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-color: #292929;
    border-style: none;
    border-radius: 13px;
    /* z-index: 2; */
    
    background-image: url('/assets/icons/search.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

.kart-nav {
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-color: #292929;
    border-style: none;
    border-radius: 13px;
    /* z-index: 2; */
    
    background-image: url('/assets/icons/cart2.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

.login-register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-link {
    width: 90px;
    height: 42px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #444444;
    border-style: none;
    border-radius: 13px;
    height: 2rem;
}

.login-link:hover {
    background-color: #525252;
}

.register-link {
    width: 90px;
    height: 42px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #bbc54e;
    border-style: none;
    border-radius: 13px;
    height: 2rem;
}

.register-link:hover {
    background-color: #bac44dc9;
}

