<nav class="sidebar">
  <div class="btn-container">
    <button class="open-nav-btn"></button>
  </div>
  
  <ul>
    <!-- <button class="close-nav-btn" ></button> -->
    <li><a [routerLink]="['/home']">Inicio</a></li>
    <li>
      Categorias
      <ul>
        <li><a [routerLink]="['/path', routeParam]">Árabes</a></li>
        <li><a [routerLink]="['/path', routeParam]">Diseñador</a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/path']">Preguntas Frecuentes</a></li>
    <br><br>
  </ul>
</nav>
