<div class="filter-header">
    <div class="filter-description">
        <b>Árabes</b>
        <b>Precio más alto</b>
    </div>
    <div class="border-ctn">
        <div class="border"></div>
    </div>
    <div class="filter-select-ctn">
        <span></span>
        <select>
            <option value="">Más vendido</option>
            <option value="">Precio más bajo</option>
            <option value="">Precio más alto</option>
            <option value="">A-Z</option>
            <option value="">Z-A</option>
        </select>
    </div>
</div>

