<header>
    <a href="#"><span class="simon">Simon</span><span class="decants">Decants</span></a>
</header>



<!-- 
        TODO: Acordate de cambiar las etiqueta 'ul' y 'li', ya que el header no es una lista de elementos
<ul>
        <li class="login-register-container">
            <button class="login-link">Iniciar Sesión</button>
            <button class="register-link">Registrarse</button>      
        </li>
    </ul>
    <ul>
        <li class="menu-kart-container">
            <button class="menu-button"></button>
            <button class="kart-nav"></button>
        </li>
    </ul> -->
 