header {
    text-align: center;
}

header a:first-child {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;  
    z-index: 2;
    font-family: 'Playfair Display SC', serif;
    position: relative;

    /* Inhabilitar selección arrastrando con el mouse y click izquierdo */
    user-select: none;
    -moz-user-select: none;     /* Para Firefox */
    -webkit-user-select: none;  /* Para Safari y Chrome */
    -ms-user-select: none;      /* Para Internet Explorer/Edge */
}

header a:first-child:hover {
    cursor: pointer;
}

.simon {
    color: white;
}

.decants {
    color: #bbc54e;
}

.login-register-container button {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    width: auto;
    padding: 0 1rem;
    font-family: 'Josefin Sans', sans-serif;

    /* Inhabilitar selección arrastrando con el mouse y click izquierdo */
    user-select: none;
    -moz-user-select: none;     /* Para Firefox */
    -webkit-user-select: none;  /* Para Safari y Chrome */
    -ms-user-select: none;      /* Para Internet Explorer/Edge */
}

.menu-kart-container {
    position: relative;
    width: max-content;
    text-align: start;
    bottom: 5rem;
}

.menu-button {
    width: 30px;
    height: 33px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #292929;
    border-style: none;
    border-radius: 13px;
    /* z-index: 2; */
    
    background-image: url('/assets/icons/search.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

.kart-nav {
    width: 30px;
    height: 33px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #292929;
    border-style: none;
    border-radius: 13px;
    /* z-index: 2; */
    
    background-image: url('/assets/icons/cart2.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

.login-register-container {
    text-align: end;
    position: relative;
    bottom: 2.1rem;
}

.login-link {
    width: 90px;
    height: 42px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #444444;
    border-style: none;
    border-radius: 13px;
    height: 2rem;
}

.login-link:hover {
    background-color: #525252;
}

.register-link {
    width: 90px;
    height: 42px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #bbc54e;
    border-style: none;
    border-radius: 13px;
    height: 2rem;
}

.register-link:hover {
    background-color: #bac44dc9;
}

@media screen and (max-width: 900px) {
    .login-register-container {
        text-align: center;
        position: relative;
        bottom: -0.9000000000000004rem;
    }

    .menu-kart-container {
        position: relative;
        width: unset;
        text-align: center;
        bottom: -1rem;
    }
    
}