.form-cnt {
    display: flex;
    justify-content: center;
    perspective: 800px;
}

 .form-register {
    transition: transform 0.4s;
    position: relative;
} 

.background {
    background-color: #bbc54e;
}

.flipped {
    transform: rotateY(180deg);
}

.card-front {
    z-index: 2;
    position: absolute;
    transition-delay: 0.1s;
    opacity: 1;
    padding: 10px;
    color: #fff;
    background-color: #bbc54e;
    border-radius: 13px;
    padding: 2rem;
    margin-top: 2rem;
}

.card-back {
    z-index: 1;
    transition-delay: 0.1s;
    opacity: 0;
    padding: 10px;
    color: #fff;
    background-color: #bbc54e;
    border-radius: 13px;
    padding: 2rem;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
}

.back-rotate {
    transition-delay: 0.1s;
    transform: rotateY(180deg);
    opacity: 1;
    transition: opacity 0.1s;
}

.front-rotate {
    transition-delay: 0.1s;
    transform: rotateY(180deg);
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 1!important;
}

/* ======================== Switcheo del register: Datos personales/ Dirección de envío ======================== */

.switch-cnt {
    text-align: center;
    padding-bottom: 1rem
}

h6 {
    font-size: 1rem;
    color: #bbc54e;
    font-family: "Josefin Sans", sans-serif;
}

h6 span {
    padding: 0 20px;
    font-weight: 700;
}

[type="checkbox"]:checked,        /* Oculto el checked, esté activado o no */
[type="checkbox"]:not(:checked){
display: none;
}

.checkbox:checked + label,        /* todos los label posteriores a un checkbox que estén seleccionados */
.checkbox:not(:checked) + label{  /* todos los label posteriores a un checkbox que no estén seleccionados */
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}

.checkbox:checked + label:before,         /* todos los label posteriores a un checkbox que estén seleccionados */
.checkbox:not(:checked) + label:before{   /* todos los label posteriores a un checkbox que no estén seleccionados */
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #020305;
  font-family: 'unicons';
  background-image: url('/assets/icons/arrow-up-left.svg');
  background-size: cover;
  content: '';                            /* content debe estar presente obligatoriamente en un pseudoelemento :before */
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {         /* todos los label posteriores a un checkbox en el DOM que estén seleccionados se van a desplazar y rotar según lo indicado */
  transform: translateX(44px) rotate(-270deg);
}


/* ======================== FIN Switcheo del register ======================== */

.input-cnt {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}

.input-cnt label {
    margin-bottom: 0.2rem;
    font-family: "Josefin Sans", sans-serif;
}

input {
    width: 15rem;
    border: none;
    outline: none;
    background-color: #ebebeb;
    height: 1.5rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

.arrow {
    background-color: #444444;
    border-radius: 3.5px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    margin-left: 0.5rem;
    z-index: 1;
    margin-left: 1rem;
}

.invalid-box {
    width: fit-content;
    background-color: #444444;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 6px;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    position: relative;
    z-index: 2;
}

.invalid-box p {
    color: white;
}

.card-front h2 {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.shipping-address-cnt h2 {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.location-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.register-btn-cnt {
    display: flex;
    justify-content: center;
}

.register-btn {
    margin: 0.8rem 0.5rem 0 0.5rem;
    padding: 0 1rem;
    cursor: pointer;
    background-color: #444444;
    border-style: none;
    border-radius: 13px;
    height: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: bold; 
    font-family: "Josefin Sans", sans-serif;
}

.register-btn:hover {
    background-color: #525252;
}

@media screen and (max-width: 1000px) {
    .form-register { 
        margin-top: 0;
    }
}