<div class="form-cnt">
    <form class="form-register" [formGroup]="formRegister">
        <div class="input-cnt">
            <label for="name">Nombre</label>
            <input formControlName="name" name="name" type="text" required>
        </div>
        <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">
            <p *ngIf="name?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="input-cnt">
            <label for="last_name">Apellido</label>
            <input formControlName="last_name" name="last_name" type="text">
        </div>
        <div *ngIf="last_name?.invalid && (last_name?.touched || last_name?.dirty)">
            <p *ngIf="last_name?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="input-cnt">
            <label for="email">Correo electrónico</label>
            <input formControlName="email" name="email" type="text">
        </div>
        <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
            <p *ngIf="email?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="input-cnt">
            <label for="password">Contraseña</label>
            <input formControlName="password" name="password" type="text">
        </div>
        <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
            <p *ngIf="password?.errors?.['required']">Campo invalido</p>
        </div>
        <!-- provincia/ciudad usar un selec/buscador para que no se ingresen provincias/ciudades invalidas o inexistentes -->
        <div class="shipping-address-cnt">
            <h2>Dirección de envío</h2>
            <div class="location-btn">
                <button (click)="getGeolocation()">Aca va un botoncito de ubicacion</button>
            </div>
        </div>
        <div class="input-cnt">
            <label for="province">Provincia</label>
            <input formControlName="province" name="province" type="text">
        </div>
        <div *ngIf="province?.invalid && (province?.touched || province?.dirty)">
            <p *ngIf="province?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="input-cnt">
            <label for="city">Ciudad</label>
            <input formControlName="city" name="city" type="text">
        </div>
        <div *ngIf="city?.invalid && (city?.touched || city?.dirty)">
            <p *ngIf="city?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="input-cnt">
            <label for="address">Dirección</label>
            <input formControlName="address" name="address" type="text">
        </div>
        <div *ngIf="address?.invalid && (address?.touched || address?.dirty)">
            <p *ngIf="address?.errors?.['required']">Campo invalido</p>
        </div>
        <!-- hay que cambiar los nombres -->
        <div class="input-cnt">
            <label for="address_number">Número de dirección</label>
            <input formControlName="address_number" name="address_number" type="text">
        </div>
        <div *ngIf="address_number?.invalid && (address_number?.touched || address_number?.dirty)">
            <p *ngIf="address_number?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="input-cnt">
            <label for="phone">Teléfono (opcional)</label>
            <input formControlName="phone" name="phone" type="text">
        </div>
        <div *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">
            <p *ngIf="phone?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="input-cnt">
            <label for="cp">Código postal</label>
            <input formControlName="cp" name="cp" type="text">
        </div>
        <div *ngIf="cp?.invalid && (cp?.touched || cp?.dirty)">
            <p *ngIf="cp?.errors?.['required']">Campo invalido</p>
        </div>
        <div class="register-btn-cnt">
            <button class="register-btn" (click)="onSubmit()">Registrarme</button>
        </div>
    </form>
</div>