<form class="form-register" [formGroup]="formRegister" (ngSubmit)="onSubmit($event)">
    <div>
        <label for="name">Nombre</label>
        <input formControlName="name" name="name" type="text">
    </div>
    <div>
        <label for="last_name">Apellido</label>
        <input formControlName="last_name" name="last_name" type="text">
    </div>
    <div>
        <label for="email">Correo electrónico</label>
        <input formControlName="email" name="email" type="text">
    </div>
    <!-- provincia/ciudad usar un selec/buscador para que no se ingresen provincias/ciudades invalidas o inexistentes -->
    <div>
        <label for="province">Provincia</label>
        <input formControlName="province" name="province" type="text">
    </div>
    <div>
        <label for="city">Ciudad</label>
        <input formControlName="city" name="city" type="text">
    </div>
    <div>
        <label for="address">Dirección</label>
        <input formControlName="address" name="address" type="text">
    </div>
    <!-- hay que cambiar los nombres -->
    <div>
        <label for="address_number">Numero de direccion</label>
        <input formControlName="address_number" name="address_number" type="text">
    </div>
    <div>
        <label for="phone">Telefono (opcional)</label>
        <input formControlName="phone" name="phone" type="text">
    </div>
    <div>
        <label for="cp">Código postal</label>
        <input formControlName="cp" name="cp" type="text">
    </div>
    <div>
        <label for="password">Contraseña</label>
        <input formControlName="password" name="password" type="text">
    </div>
    <button (click)="createUser()">Registrarme</button>
</form>