form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-cnt{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
label{
    color: white
}
span {
    color: white;
}