*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background: #292929;
  font-family: 'Roboto', sans-serif;
  color: #33353a;
  margin-bottom: 90px;
}

/* .container
{
  width: 97%;
  
  margin: 20px auto; 

  overflow-x: auto;  
  overflow-y: auto;
}

.container .content
{
  padding: 0 20px;
  border-radius: 8px; 
} */
