<!-- <header>
    <a href="#"><span class="simon">Simon</span><span class="decants">Decants</span></a>
</header> -->

<header>
    <div class="title-position">
        <a [routerLink]="['/']"><span class="simon">Simon</span><span class="decants">Decants</span></a>
    </div>
    <div class="login-register-container">
        <button class="login-link" (click)="openLogin()">Iniciar
            Sesión</button>
        <app-login [ngClass]="{'login-form': showLogin, 'hidden':  !showLogin}" />
        <button [routerLink]="['/user/register']" class="register-link">Registrarse</button>
    </div>
    <!-- <div class="menu-kart-container"> -->
    <button class="kart-nav"></button>
    <!-- </div> -->
</header>